ul {
    list-style-type: none;
 
}

.Navbar{
    
    background-color: rgb(128, 87, 156);
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

li {
    display: inline;
    padding:20px;
    color: white;
      
    border-radius: 20px;
}

li:hover{
    background-color: white;
    color:black;
}